/*==================Обнуление==================*/

*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}


/*=============================================*/

.block1 {
		padding: 70px 0 140px 0;
		background: url("/img/block__1/Subtract.png") 0 0/ 100% 100% no-repeat; 
		background-color: #f4e5de;
		
}

.block1__row {
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*=============================================*/

.block1__photo .block1__button{
	display: none;
}

.block1__photo img{
	height: auto;
	width: 470px;
}
/*=============================================*/

.block1__content {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 20px 10px 0 10px;
	color: #000;
	font-weight: 500;
}
/*=============================================*/

.block1__title {
	font-size: 32px;
	margin: 0 0 25px 0;
}



.block1__subtitle {
	margin: 0 0 25px 0;
	font-size: 28px;
}

/*=============================================*/

@media (max-width: 920px) {
	.block1__photo img{
		width: 370px;
	}
	.block1__title {
		font-size: 26px;
	}
	.block1__subtitle {
		font-size: 22px;
	}
}

@media (max-width: 768px) {
	.block1__row {
		padding: 0 30px;
		display: block;
	}
	.block1__photo img{
		margin: 0 auto;
		display: block;
	}
	.block1__content{
		text-align: center;
	}
	.block1__content .block1__button{
		display: none;
	}
	.block1__photo .block1__button {
		display: block;
	}

	.block1__photo .block1__button a{
		display: block;
		margin: 50px auto 0 auto;
	}
}

@media (max-width: 425px) {
	.block1__photo img{
		margin: 0 auto;
		display: block;
		width: 300px;
	}
}

@media (max-width: 378px) {
	.block1__title {
		font-size: 24px;
	}
	.block1__subtitle {
		font-size: 18px;
	}
}

/*=============================================*/

.block1__button a {
	display: inline-block;
	color: #000;
	width: 250px;
	transition: 0.6s;
	text-align: center;
	background-color: #f4e5de;
}

.block1__button a:hover {
	background-color: #ededed;
}

.block1__button span {
 font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
 font-weight: 500;
 font-size: 22px;
 line-height: 44px;
}