.faq form{
	width: 350px;
}

.faq{
   background-color: #d7bfc1;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.faq__row {
   display: flex;
   justify-content: space-between;
}
.faq__content {
   padding: 0 10px 60px 10px;
}
.faq__title {
   font-size: 28px;
   padding: 60px 0 30px 18px;

}
.faq__subtitle {
   font-size: 22px;
   padding:0 0 35px 18px;


}

.faq__butt{
   padding: 13px 18px;
   font-size: 18px;
   margin: 0 0 -3px 0;

}

.faq__butt:after {
   content: '';
   margin-left: 0px;


}
.faq__panel {
   background-color: #d7bfc1;

}




.faq__right {
   width: 50%;
	padding-right: 20px;
}

.faq__form {
   margin: -36px 0 0 0 ;
   padding: 0 0 0 18px;
   width: 100%;
	left: 0;
}



@media (max-width: 768px) {
	.faq__row {
		display: block;
	}

	.faq__content{
		padding-bottom: 0;
	}

	.faq__right {
		padding: 0 0 60px 10px;
		width: 100%;
		left: 0;
	}


}

@media (max-width: 500px) {
	.faq__right input, .faq__right button {
		width: 350px;
	}
}

@media (max-width: 400px) {
	.faq__right input, .faq__right button {
		width: 300px;
	}
	.faq__right form{
		width: 300px;
	}

}