/*==================Обнуление==================*/

*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.container {
	max-width: 1100px;
	margin: 0 auto;
}

.header {
	background-color: #f4e5de;
	width: 100%;
	padding: 20px 15px;
}

.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header a{
	color: #000;
}

/*=============================================*/

.header__logo{
	text-align: center;
	font-family: Righteous;
	font-size: 26px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.gd {
	display: none;
	font-family: Righteous;
	font-size: 30px;
	text-transform: uppercase;
	width: 50px;
	border-left: 2px solid   #0b091f;
	border-right:  2px solid   #0b091f;
	height: 30px;
}

.gd span{
	background-color: #000;
	width: 5px;
	height: 5px;
	margin: 13px 0 0 0;
	border-radius: 50%;
}

.gd a{
	display: flex;
	color: #000;
}

/*=============================================*/

.header__social a{
	font-size: 20px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	display: inline-block;
	margin: 0 10px;
}

.header__social a:last-child{
	margin-right: 0;
}

.header .block4__send {
	height: auto;
	width: auto;
	padding: 0 15px;
}


/*=============================================*/

@media (max-width: 580px){

}


@media(max-width: 470px){
	.header__logo{
		display: none;
	}
	.gd {
	display: block;
}
}



/*===================Modal==========================*/

.modal{
	display: none;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.473);
	padding: 10px;
}

.modal__window{
	padding: 35px;
	position: relative;
	border-radius: 15px;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
   background-color: #d7bfc1;
	top: -10%;
}

.modal form input{
	width: 100%;
	margin-bottom: 20px;
	padding: 15px 15px;
	border-radius: 5px;
}

.modal h3{
	font-size: 18px;
	margin-bottom: 25px;
}

.modal button{
	width: 100%;
	margin-top: 0;
}

.modal figure{
	cursor: pointer;
	padding: 5px 10px;
	font-size: 26px;
	position: absolute;
	right: 5px;
	top: 10px;
}

.active-modal{
	display: flex;
}

.cert__card{
	max-width: 100px;
	max-height: 100px;
}

#certyficate .grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

#certyficate img{
	width: 100%;
	cursor: pointer;
	height: 100%;
}

.active_image{
	position: fixed;
	top: 10%;
	left: calc(50% - 250px);
	max-width: 500px;
	max-height: 500px;
	width: 100%;
	height: 100%;
}


@media (max-width: 500px) {
	.active_image{
		max-width: 400px;
		max-height: 400px;
		left: calc(50% - 200px);
	}
}

@media (max-width: 425px) {
	#certyficate .grid{
		grid-template-columns: 1fr 1fr;
	}
	.cert__card{
		max-width: 150px;
		max-height: 150px;
	}
	.active_image{
		max-width: 400px;
		max-height: 400px;
		left: 0;
	}
}





